/* Contenedor principal */

.about-container {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    height: 700px;
    padding: 60px 20px;
}


/* Tarjeta de foto y descripci칩n */

.about-card {
    position: relative;
    flex: 1 1 40%;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    border-radius: 12px;
    text-align: center;
    box-shadow: 0 0 8px rgba(250, 248, 248, 0.5), /* Resplandor tenue cercano */
    0 0 10px rgba(250, 247, 247, 0.4), /* Resplandor m치s difuso */
    0 0 15px rgba(248, 246, 246, 0.3);
    /* Resplandor m치s sutil */
    overflow: hidden;
    margin-top: 30px;
    margin-bottom: 130px;
}

.about-photo {
    margin: 0;
}

.about-photo img {
    margin: 0;
    border-radius: 80%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 4px solid var(--color-accent);
    box-shadow: 0 0 2px #ffffff, /* Sombra sutil */
    0 0 4px #ffffff, /* Brillo suave */
    0 0 6px #ffffff, /* Resplandor ligero */
    0 0 8px #ffffff;
    transition: box-shadow 0.3s ease;
}

.about-info {
    margin-top: 5px;
}

.about-info h2 {
    font-size: 1.6rem;
    color: #fff;
}

.about-info p {
    text-align: justify;
    font-size: 0.9rem;
    color: #ddd;
    padding: 10px;
}


/* Educaci칩n (carrusel) */

.about-education {
    flex: 1 1 55%;
}

.about-education h2 {
    text-align: center;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 3px;
    margin-top: 20px;
}

.education-carousel {
    max-height: 500px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px 10px;
    background: rgba(253, 253, 253, 0.397);
    border-radius: 8px;
    box-shadow: 0 0 2px #ffffff, /* Sombra sutil */
    0 0 4px #ffffff, /* Brillo suave */
    0 0 6px #ffffff, /* Resplandor ligero */
    0 0 8px #ffffff;
    margin-bottom: 130px;
}

.education-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(253, 253, 253, 0.712);
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.education-item:hover {
    transform: translateY(-3px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

#sena {
    color: #fff;
    background: #00af00a2;
}

#generation {
    color: #fff;
    background: #0075b9a2;
}

#dev {
    color: #fff;
    background: #2e0383a2;
}

#talento {
    color: #fff;
    background: #002957a2;
}

#platzi {
    color: #fff;
    background: #98ca3fa2;
}

.education-info {
    flex: 1;
    margin-right: 10px;
    text-align: left;
}

.education-info h3 {
    display: flex;
    /* Activa Flexbox */
    justify-content: space-between;
    /* Coloca los elementos en los extremos */
    align-items: center;
    /* Alinea verticalmente al centro */
    font-size: 1.2rem;
    color: white;
    margin-bottom: 5px;
    gap: 10px;
    /* Agrega espacio entre los elementos */
}

.education-info p {
    font-size: 0.9rem;
    color: rgb(7, 7, 7);
}

.education-info .status {
    font-weight: bold;
    margin-top: 5px;
}

.education-info .status.certificado {
    color: #08f710;
    background-color: #181717a2;
    width: 95px;
    border-radius: 5px;
    text-align: center;
}

.education-info .status.en-proceso {
    color: #ff9100;
    background-color: #181717a2;
    width: 95px;
    border-radius: 5px;
    text-align: center;
}

.education-info .status.culminado {
    color: #08f710;
    background-color: #181717a2;
    width: 95px;
    border-radius: 5px;
    text-align: center;
}

.education-img {
    width: 60px;
    height: 60px;
    border-radius: 15px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.education-img img {
    background-color: #fff;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* Scrollbar para carrusel */

.education-carousel::-webkit-scrollbar {
    width: 8px;
}

.education-carousel::-webkit-scrollbar-thumb {
    background: #111111;
    border-radius: 10px;
}

.education-carousel::-webkit-scrollbar-thumb:hover {
    background: var(--color4);
}