/* Estilo de la sección de Inicio */

#home {
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.4)), url('../img/img/descarga.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #ffffff;
    text-align: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    /* Separación del nav */
    position: relative;
}


/* Estilo de los títulos */

#home h1 {
    font-size: 3.5rem;
    font-weight: 400;
    color: #ffffff;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.8), 0 0 15px rgba(255, 255, 255, 0.6);
    margin-bottom: 20px;
    letter-spacing: 2px;
}


/* Estilo de los párrafos */

#home p {
    font-size: 1.8rem;
    color: #ffffff;
    margin-bottom: 20px;
    max-width: 800px;
    text-align: center;
    line-height: 1.6;
    font-weight: 300;
}


/* Imagen de perfil */

.profile-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px 0;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);
    transition: transform 0.3s ease;
}

.profile-img:hover {
    transform: scale(1.05);
}


/* Slogan */

.slogan {
    font-style: italic;
    font-size: 1.3rem;
    color: var(--color5);
    margin-top: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.4);
}


/* --- Media Queries para Pantallas más pequeñas --- */


/* Para pantallas más pequeñas que 768px (tabletas y móviles) */

@media (max-width: 768px) {
    #home h1 {
        font-size: 2.8rem;
        /* Reducir tamaño de fuente en pantallas medianas */
    }
    #home p {
        font-size: 1.5rem;
        /* Reducir tamaño de fuente en párrafos */
    }
    .profile-img {
        width: 150px;
        height: 150px;
        /* Ajustar tamaño de la imagen de perfil en pantallas medianas */
    }
    .slogan {
        font-size: 1.2rem;
        /* Reducir tamaño de la fuente del slogan */
    }
    #home {
        padding-top: 80px;
        /* Ajustar padding superior en pantallas medianas */
    }
}


/* Para pantallas más pequeñas que 480px (móviles) */

@media (max-width: 480px) {
    #home h1 {
        font-size: 2.2rem;
        /* Reducir aún más el tamaño de fuente del título */
    }
    #home p {
        font-size: 1.2rem;
        /* Reducir aún más el tamaño de fuente de los párrafos */
    }
    .profile-img {
        width: 120px;
        height: 120px;
        /* Ajustar aún más el tamaño de la imagen de perfil */
    }
    .slogan {
        font-size: 1rem;
        /* Reducir aún más el tamaño del slogan */
    }
    #home {
        padding-top: 60px;
        /* Ajustar padding superior en móviles */
    }
}