* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}


/* Paleta de colores */

:root {
    --color1: #000000;
    --color2: #242424;
    --color3: #484848;
    --color4: #6b6b6b;
    --color5: #8f8f8f;
}


/* Estilo general del header */

header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    border-bottom: 1px solid #8f8f8f;
    padding: 10px 20px;
    height: 80px;
    width: 100%;
    z-index: 8000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Contenedor del nombre y logotipo */

.nav-name {
    display: flex;
    align-items: center;
    gap: 10px;
}


/* Estilo del logotipo */

.nav-logo {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    /* Ajusta la imagen al tamaño del contenedor */
    border: 2px solid #ccc;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.6);
}

#logo {
    padding: 5px;
    /* Ajusta la imagen al tamaño del contenedor */
}


/* Estilo del nombre */

.nav-name span {
    font-family: 'Tangerine', cursive;
    font-size: 2.5rem;
    color: #ffffff;
    /* Texto blanco base */
    text-shadow: 0 0 4px #ffffff, /* Sombra blanca suave */
    0 0 6px #ffffff, /* Sombra blanca más difusa */
    0 0 8px #ffffff, /* Sombra blanca intensa */
    0 0 12px #ffffff, /* Resplandor suave */
    0 0 16px #ffffff, /* Brillo suave del neón */
    0 0 20px #ffffff, /* Brillo más sutil */
    0 0 25px #ffffff;
    /* Resplandor delicado */
}


/* Estilo del nav */

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

nav a {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
}

nav a:hover {
    border-radius: 15px;
    transform: scale(1.2);
    background-color: var(--color5);
    color: #ffffff;
    font-size: 16px;
}


/* Resaltar el enlace activo */

nav a.active {
    border-radius: 15px;
    background-color: var(--color5);
    /* Color de fondo del enlace activo */
    color: #ffffff;
    /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra sutil */
    text-shadow: 0 0 4px #ffffff, /* Sombra blanca suave */
    0 0 6px #ffffff, /* Sombra más difusa */
    0 0 8px #ffffff;
    /* Sombra delicada */
}


/* Añadir un selector adicional para el nav */

nav {
    transition: transform 0.3s ease;
}

nav a.active:hover {
    transform: scale(1.2);
    background-color: var(--color5);
    color: #ffffff;
}